//Fonts Source
$poppins-all: "Montserrat", sans-serif;
//Dedicated Font Familys
$body-font: $poppins-all;

//btn Font
$btn-font-size: 14px;

//Heading Font
$heading-font-size1: 2.214rem;
$heading-font-size2: 1.714rem;
$heading-font-size3: 1.286rem;
$heading-font-size4: 1.000rem;
$heading-font-size5: 0.786rem;
$heading-font-size6: 0.571rem;

//Font Weights
$regular:   300;
$normal:    400;
$medium:    500;
$semi-bold: 600;
$bold:      700;
$extra-bold:800;

//Color Names/Source
$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #366d96;
$tertiary-color: #d9d9d9;
$accent-color-dark: #194b71;
$danger: #c42323;