*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.banner .overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.626);
    position: absolute;
    top: 0;
}
/* .banner img{
    width: 100%;
} */
.banner .content{
   position: absolute;
   top: 45%;
   width: 90%;
   margin-left: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #fff;
}
.banner .content h3,h1{
   text-transform: uppercase;
}
.banner .content h3{
   letter-spacing: 10px;
}
.banner .content h1{
   font-size: 3rem;
}
.banner .content p{
   font-size: 1.1rem;
   width: 60%;
   margin-top: 1.5rem;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
}
.fa-arrow-down-long{
    margin-top: 1rem;
}
.banner .content button{
   font-size: 0.9rem;
   margin-top: 2rem;
   font-family: "Montserrat", sans-serif;
   border: none;
   background-color: #0073a8;
   color: #fff;
   padding: 0.4rem 1rem 0.35rem 1rem;
   font-weight: 600;
   border-radius: 4px;
   box-shadow: rgba(255, 255, 255, 0.153) 0px 6px 12px -2px, rgba(255, 255, 255, 0.241) 0px 3px 7px -3px;
   transition: all 0.2s ease;
}
.banner .content button:hover{
   background-color: #006290;
}

.icon-row{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 8rem;
}
.icon-row i{
    font-size: 1.2rem;
    transition: all 0.2s ease;
}
.icon-row i:hover{
    color: rgb(115, 115, 255);
    scale: 1.2;
}

@media screen and (max-width: 768px) {
    .mobile-view{
        overflow: hidden;
    }
    .mobile-view video{
        position: relative;
        height: 100vh;
    }
    .mobile-view .content{
        position: absolute;
        color: #fff;
        top: 20rem;
        left: 2.5%;
        width: 95%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;
    }
    .mobile-view .content h3{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .mobile-view .content p{
        font-size: 0.9rem;
    }
    .mobile-view .content i{
        margin-top: 0;
    }
    .mobile-view .content button{
        font-size: 0.8rem;
        margin-top: 1rem;
        font-family: "Montserrat", sans-serif;
        border: none;
        background-color: #0073a8;
        color: #fff;
        padding: 0.3rem 0.8rem 0.3rem 0.8rem;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: rgba(255, 255, 255, 0.153) 0px 6px 12px -2px, rgba(255, 255, 255, 0.241) 0px 3px 7px -3px;
        transition: all 0.2s ease;
    }
}
