
@media screen and (max-width: 768px) {
    /* Banner Starts */
    .mobile-view .banner{
        height: auto;
        background-color: #366d96;
        overflow: hidden;
    }
    /* Banner Ends */

    /* About Starts */
    .mobile-view .about{
        margin: 0;
        overflow: hidden;
    }
    .mobile-view .about-content{
        background-color: #366d96;
        color: #fff;
        padding: 0.7rem 0.5rem;
    }
    .mobile-view .about-content h2{
        font-weight: 700;
    }
    .mobile-view .about video{
        width: 100%;
    }
    .mobile-view .about .about-card{
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
    }
    .mobile-view .about .about-card h5{
        font-weight: 700;
    }
    .mobile-view .about .about-card p{
        margin-bottom: 0;
        font-weight: 500;
    }
    .mobile-view .about .about-card:nth-child(1),
    .mobile-view .about .about-card:nth-child(3){
        color: #366d96;
        background-color: #fff;
    }
    .mobile-view .about .about-card:nth-child(2),
    .mobile-view .about .about-card:nth-child(4){
        color: #fff;
        background-color: #366d96;
    }
    /* About Ends */

    /* Chairman Start */
    .mobile-view .chairman{
        margin: 0;
        margin-top: 0.5rem;
        color: #fff;
        width: 100%;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .mobile-view .chairman .chairman-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-view .chairman .chairman-img img{
        width: 75%;
        border: 7px solid #fff;
    }
    .mobile-view .chairman .chairman-text{
        padding: 0 0.5rem;
    }
    .mobile-view .chairman .chairman-text h3{
        font-weight: 700;
        margin-top: 1rem;
    }
    .mobile-view .chairman .chairman-text p{
        width: 100%;
        text-align: start;
    }
    .mobile-view .chairman .chairman-text p:nth-child(3){
        text-align: end;
        margin-bottom: 0;
    }
    .mobile-view .chairman .chairman-text p:last-child{
        font-weight: 600;
        text-align: end;
    }
    /* Chairman End */

    /* Product Details Start */
    .mobile-view .product-details{
        background-image: url('../images/product-details-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .mobile-view .product-details-card-row{
        padding: 0.3rem 1rem;
    }
    .mobile-view .product-details-card-row .product-card{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 1.2rem;
        overflow: hidden;
    }
    .mobile-view .product-details-card-row .product-card .card-img img{
        width: 100%;
    }
    .mobile-view .product-details-card-row .product-card .card-desc{
        background-color: #fff;
        padding: 0.6rem;
    }
    .mobile-view .product-details-card-row .product-card .card-desc h5{
        display: flex;
        align-items: center;
    }
    .mobile-view .product-details-card-row .product-card .card-desc h5 img{
        width: 18px;
        margin-left: 9px;
    }
    /* Product Details End */
}