@media screen and (min-width: 768px) {
    .mobile-view{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .web-view{
        display: none;
    }
    body{
        overflow: scroll !important;
    }
    /* Wp Icon */
    .float {
        width: 30px;
        height: 30px;
        box-shadow: none;
    }

    /* Header Starts */
    .mobile-view nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1rem 0 0.2rem;
        position: relative;
    }
    .mobile-view nav .nav-left{
        width: 60%;
        display: flex;
        align-items: center;
    }
    .mobile-view nav .nav-left .icon-box:first-child{
        margin-right: 0.6rem;
        padding-right: 0.7rem;
        border-right: 2px solid #d23737;
    }
    .mobile-view nav .nav-left img{
        width: 60px;
    }
    .mobile-view nav .nav-right img{
        width: 30px;
    }
    .mobile-view nav .nav-menu-options{
        position: absolute;
        top: 5rem;
        width: 94%;
        margin-left: 2%;
        border-radius: 10px;
        background-color: rgba(217, 217, 217, 0.947);
        transition: all 0.3s ease;
        overflow: hidden;
        height: auto;
        opacity: 1;
    }
    .mobile-view nav .nav-menu-options.hide{
        height: 0;
        opacity: 0;
        margin-top: 0.3rem;
    }
    .mobile-view nav .nav-menu-options .nav-menu-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0.5rem 0 0.5rem;
    }
    .mobile-view nav .nav-menu-options .nav-menu-row a{
        width: 20%;
        text-decoration: none;
        color: #000;
    }
    .mobile-view nav .nav-menu-options .nav-menu-row .menu-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-view nav .nav-menu-options .nav-menu-row .menu-box img{
        width: 17px;
    }
    .mobile-view nav .nav-menu-options .nav-menu-row .menu-box p{
        font-size: 0.6rem;
        text-align: center;
        margin-top: 0.2rem;
        font-weight: 500;
    }
    /* Header Ends */

    /* Media Start */
    .mobile-view .media{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .mobile-view .media h3{
        font-weight: 600;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .mobile-view .media-box{
        margin-bottom: 1rem;
    }
    .mobile-view .media-box img{
        border-radius: 8px;
    }
    /* Media End */

    /* Footer Start */
    .mobile-view footer {
        padding: 2rem 1rem;
        border-bottom: 1rem solid #366d96;
        position: relative;
        bottom: 0;
      }
    .mobile-view footer h4{
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 1.3rem;
      }
    .mobile-view footer p{
        margin: 0;
        margin-bottom: 0.4rem;
        font-size: 0.8rem;
      }
    .mobile-view footer a{
        text-decoration: none;
      }
    .mobile-view footer ul{
        list-style-type: none;
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
        padding: 0;
      }
    .mobile-view footer ul img{
        width: 25px;
      }
    /* Footer End */
}