@media screen and (max-width: 768px) {
     /* Banner Start */
     .mobile-view .trading-banner {
        overflow: hidden;
    }

    .mobile-view .trading-banner img {
        margin-top: 6.5rem;
    }

    .mobile-view .trading-banner .banner-img {
        position: relative;
    }

    .mobile-view .trading-banner h1 {
        position: absolute;
        bottom: 0.3rem;
        left: 0.5rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .mobile-view .trading-banner .banner-text {
        padding: 0.5rem;
        font-size: 0.85rem;
        color: #000;
    }
    /* Banner End */

    /* Product Features Start */
    
    /* Product Features End */
}